{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for purshase in purshases %}
        <tr>
            <td class="text-start">{{ purshase.symbol }}</td>
            <td class="text-end">{{ purshase.shares }}</td>
            <td class="text-end">{{ purshase.price | usd }}</td>
            <td class="text-end">{{ ((purshase.shares | float) *  (purshase.price | float) ) | usd}} </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{cash[0]['cash'] | usd}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{total | usd}}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}